version: "3.9"

services:
  app:
    build: .
    container_name: event-notifier
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
      - rabbitmq

  db:
    image: postgres:16
    container_name: event-notifier-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notifications
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: event-notifier-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  postgres_data: